node_modules/
DRAFT/
coverage/
scripts/
s/
src/
nodemon*.json
.editorconfig
.eslintrc.js
.eslintignore
.gitignore
.prettierrc
.prettierignore
.idea/
jest.config.js
docker/
helm/
.circleci/
.dockerignore
docker-compose.yml
Dockerfile
/.*
tsconfig.docs.json
additional-documentation/
